* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    color: Black !important;
    background: rgb(164,179,180);
background: linear-gradient(90deg, rgba(164,179,180,1) 0%, rgba(172,172,172,1) 19%, rgba(228,228,228,1) 53%, rgba(204,205,205,1) 100%);
   
}
#home {
    color: aliceblue;
    margin-left: 10px;
}

#nav {
    background-color: rgb(56, 74, 95);
    padding: 0px;
    width: 100%;
}

.nav-element {
    padding: 2px;
    padding-right: 1%;
    padding-left: 1%;
    gap: 10px;
}

#container{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 6%;
    place-content: center;
}
#Book{
       margin: 20px !important;
       gap: 20px;
       width: 20%;
       max-inline-size: min-content;
}

#img{
}

.color{
    margin: 2px;
    margin-left: 10px;
}

.Title {
    font-weight: 600;
    font-size: 20px;
    margin: 0;
}

.Author {
        font-weight: lighter;
        font-size: 16px;
}